body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #10786d;
    color: #fff;
    text-align: center;
    padding: 20px;
    width:50%;
  }
  p{
    padding:70px;
    text-align: justify;
    line-height: 200%;
    font-size: larger;
  }
  nav {
    background-color: #07d086;
    color: #fff;
    text-align: center;
    padding: 10px;
    width:50%
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  section {
    margin: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #1E90FF;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .available {
    color: #008000;
  }
  
  .unavailable {
    color: #ff0000;
  }
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

  @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
  
  body {
      font-family: "Montserrat", sans-serif;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    background-color: #242333;
    color: #fff;
    margin: 0;
  }
  
  * {
      font-family: "Montserrat", sans-serif !important;
    box-sizing: border-box;
  }
  
  .movie-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }
  
  .movie-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 40px;
    font-size: 14px;
    border-radius: 5px;
  }
  
  
  
  .seat {
    background-color: #444451;
    height: 25px;
    width: 15px;
    margin: 3px;
   
  }
  
  .selected {
    background-color: #0081cb;
  }
  
  .occupied {
    background-color: #fff;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .screen {
    background: #fff;
    height: 70px;
    width: 70%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
  }
  
  p.text {
    margin: 40px 0;
  }
  
  p.text span {
    color: #0081cb;
    font-weight: 600;
    box-sizing: content-box;
  }
  
  .credits a {
    color: #fff;
  }
  .button{
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
    